BASE_URL=https://api.tastyworks.com
API_CLIENT_SECRET=clientsecrethere
API_REFRESH_TOKEN=refreshtokenhere
BOT_RUN_ON_SCHEDULE=false
SECRET_SOCKET_URL=
SECRET_SOCKET_TIMEOUT_MS=5000
SECRET_DATA_UPDATE_POSITIONS_KEY=