BASE_URL=https://api.tastyworks.com
API_CLIENT_SECRET=clientsecrethere
API_REFRESH_TOKEN=refreshtokenhere
BOT_RUN_ON_SCHEDULE=false
BOT_DO_NOT_TOUCH_GROUPS=
SECRET_SOCKET_URL=
SECRET_SOCKET_TIMEOUT_MS=5000
SECRET_DATA_UPDATE_POSITIONS_KEY=
SECRET_AUTO_SEED_ON_POSITIONS_UPDATE=false
SECRET_AUTO_SEED_ON_TICKER_RECS_UPDATE=false
SECRET_AUTO_SEED_START_TIME=06:30
SECRET_AUTO_SEED_END_TIME=12:15
SECRET_AUTO_SEED_COOLDOWN_MS=600000