API_CLIENT_SECRET=clientsecrethere
API_REFRESH_TOKEN=refreshtokenhere
BOT_RUN_ON_SCHEDULE=false
BOT_ENABLE_LIVE_ORDERS=false
TASTYTRADE_BOT_CONFIG=config/trading-bot.config.json
TASTYTRADE_BOT_RUN_HISTORY_MAX_ENTRIES=1000
