# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Build outputs
build/
out/

# Runtime files
.env
.ENV
.env.*
.env.local
.env.test
!.env.example

# Logs
logs/
*.log
.npm/

# Local runtime data
data/runs.ndjson

# TypeScript
.tsbuildinfo

# Coverage
coverage/
.nyc_output/

# VS Code
.vscode/
.history/

# macOS
.DS_Store

# Other
.cache/
/.parcel-cache
.pnp.cjs
.pnp.js
.idea/
